@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&family=Reddit+Mono:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Generals */

.min-h-screen {
    min-height: 42vh;
}


.hero h1 {
    font-family: "Reddit Mono", 'monospace';
    font-size: 2rem;
}

.py-6 {
    max-width: 39rem;
}

.hero {
    margin-bottom: 2rem;
}

.hero-content,
.max-w-md {
    max-width: 100%;

}

.tabs {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    border-start-start-radius: 1rem;
}



.tab:is(input[type="radio"]) {
    width: fit-content;
    border-bottom-right-radius: 0px;
    margin: 0 auto;
    border-bottom-left-radius: 0px;
    font-size: 1rem;
    font-weight: 700;
}




.input-box {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    padding: 10px 10px;
}

.input-box button {
    border-radius: 15px;
}

.input {
    border-radius: 10px;
    margin: 0 12px;
}

.tab-content-h1 {
    font-size: revert;
    font-weight: revert;
    font-family: 'Reddit Mono';
}

.tab-content {
    margin-top: 0;
    border-top: none;
}

.glass {
    border-radius: 15px;
    margin: 2rem;
}

.insta button {
    border: 1px solid #c13584;

}

video {
    max-width: 100%;
    height: 23rem;
}

.video-action {
    text-align: center;
}


section h2 {
    font-family: cursive;
    margin-bottom: 1rem;
}

section {
    width: 100%;
    text-align: center;
}

.collapse.border-base-300 {
    border-color: #ebebeb;
}

.collapse.border {
    border-width: 2px;
}

.join {
    backdrop-filter: hue-rotate(45deg);
}

ol {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: disc;
    border-radius: 30px;
    font-family: system-ui;
    gap: 5px;
    backdrop-filter: hue-rotate(79deg);
    border: 2px white;
    border-style: unset;
    list-style-position: inside;
    padding: 1rem;
}

ol li {
    font-weight: 500;
}

.how-it-works ol {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: disc;
    border-radius: 30px;
    font-family: system-ui;
    gap: 5px;
    backdrop-filter: hue-rotate(-330deg);
    border: 2px white;
    border-style: double;
    list-style-position: inside;
    padding: 1rem;
}




.tabs-lifted>.tab:is(input:checked):before {
    background: initial;
}

input[type='radio'][aria-label='Instagram']:checked~.insta,
input[type='radio'][aria-label='YouTube']:checked~.yt,
input[type='radio'][aria-label='Facebook']:checked~.fb,
input[type='radio'][aria-label='Twitter']:checked~.twitter {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 15px !important;
}




/* Instagram */

.Instagram {
    color: #c13584;
}

input[type=radio][aria-label='Instagram']:checked {
    background-image: linear-gradient(to right, #c13584, #833ab4);
    color: whitesmoke;
    border-inline-start-color: #c13584;
    border-inline-end-color: #c13584;
    border-top-color: #c13584;
}



.tab .Instagram {
    background-color: var(--tab-bg);
    border-width: var(--tab-border, 1px) var(--tab-border, 1px) 0 var(--tab-border, 1px);
}

.tabs-lifted>.tab:is(input:checked):first-child:before {
    background-image: initial;
    background-position: initial;
}



input[type='radio'][aria-label='Instagram']:checked~.insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}


/* YouTube */

.YouTube {
    color: #ff0090;
}

input[type=radio][aria-label='YouTube']:checked {
    background-image: linear-gradient(to right, #ff46af, #d40303);
    color: whitesmoke;
    border-inline-start-color: #ff0090;
    border-inline-end-color: #ff0090;
    border-top-color: #ff0090;
}

input[type='radio'][aria-label='YouTube']:checked ~ .yt {
    background: linear-gradient(to right, #ff46af, #d40303);
    transition: background 10s ease-in-out;
}

/* Facebook */

.Facebook {
    color: #0866ff;
}

input[type=radio][aria-label='Facebook']:checked {
    background: linear-gradient(to right, #159393, #85a4d8);
    color: whitesmoke;
    border-inline-start-color: #0866ff;
    border-inline-end-color: #0866ff;
    border-top-color: #0866ff;
}

input[type='radio'][aria-label='Facebook']:checked ~ .fb {
    background: linear-gradient(to right, #76a2e9, #0866ff);
    transition: background 10s ease-in-out;
}

/* Twitter */

.Twitter {
    color: #000000;
}

input[type=radio][aria-label='Twitter']:checked {
    background: linear-gradient(to right, #000000, #5e5858);
    color: whitesmoke;
    border-inline-start-color: #5e5858;
    border-inline-end-color: #5e5858;
    border-top-color: #5e5858;
}

input[type='radio'][aria-label='Twitter']:checked ~ .twitter  {
    background: linear-gradient(to right, #000000, #5e5858);
    transition: background 10s ease-in-out;
}

input[type='radio'][aria-label='Twitter']:checked ~ .twitter input:focus{
    outline-color: navajowhite;
}